In [1]:
import pandas as pd
import numpy as np
import random as rnd

import gc

In [2]:
data2_train=pd.read_csv('Features/raw/data2_train.csv')
counts_train=pd.read_csv('Features/counts/data2_counts_train.csv')
timediff_train=pd.read_csv('Features/timediff/data2_timediff_train.csv')
convrate_train=pd.read_csv('Features/convrate/data2_convrate_train.csv')

In [3]:
#data2_train.drop(['clickTime','conversionTime'],axis=1,inplace=True)
label=data2_train['label']
data2_train.drop(labels=['label'],axis=1,inplace = True)
data2_train.insert(0,'label',label)
train=pd.concat([data2_train,counts_train,timediff_train,convrate_train],axis=1)

In [4]:
train.head()

,label,clickTime,connectionType,conversionTime,creativeID,positionID,telecomsOperator,userID,adID,camgaignID,...,uspolast,creativeIDconvrate,positionIDconvrate,camgaignIDconvrate,advertiserIDconvrate,appIDconvrate,adIDconvrate,hometownconvrate,residenceconvrate,appCategoryconvrate
0,0,250000,2,NaN,8930,6315,1,18193893,20938,6290,...,32052,0.01358,0.01601,0.01041,0.00555,0.00892,0.01105,0.03399,0.03040,0.01667
1,0,250000,1,NaN,43695,4522,1,4128332,16739,6026,...,-1,0.04614,0.02438,0.04629,0.02888,0.03875,0.04616,0.03038,0.03047,0.02735
2,0,250000,0,NaN,28424,4522,0,17247261,20367,3774,...,-1,0.00001,0.02438,0.00001,0.00001,0.04060,0.00001,0.03280,0.02863,0.03583
3,0,250000,0,NaN,47347,4522,0,14569685,12268,5725,...,-1,0.00001,0.02438,0.00001,0.00001,0.00840,0.00001,0.02127,0.02868,0.03583
4,0,250000,2,NaN,16759,7511,1,8351850,15256,6679,...,-1,0.01254,0.01094,0.01007,0.02533,0.02604,0.01006,0.03087,0.02729,0.02552

In [5]:
train.to_csv('Features/finaldata/train_raw.csv',index=False)

In [6]:
del data2_train
del counts_train
del timediff_train
del convrate_train
del train
del label
gc.collect()

498

In [7]:
data2_valid=pd.read_csv('Features/raw/data2_valid.csv')
counts_valid=pd.read_csv('Features/counts/data2_counts_valid.csv')
timediff_valid=pd.read_csv('Features/timediff/data2_timediff_valid.csv')
convrate_valid=pd.read_csv('Features/convrate/data2_convrate_valid.csv')

In [8]:
#data2_valid.drop(['clickTime','conversionTime'],axis=1,inplace=True)
label=data2_valid['label']
data2_valid.drop(labels=['label'],axis=1,inplace = True)
data2_valid.insert(0,'label',label)
valid=pd.concat([data2_valid,counts_valid,timediff_valid,convrate_valid],axis=1)

In [9]:
valid.head()

,label,clickTime,connectionType,conversionTime,creativeID,positionID,telecomsOperator,userID,adID,camgaignID,...,uspolast,creativeIDconvrate,positionIDconvrate,camgaignIDconvrate,advertiserIDconvrate,appIDconvrate,adIDconvrate,hometownconvrate,residenceconvrate,appCategoryconvrate
0,0,300000,1,NaN,41047,3322,2,980933,10483,1913,...,11849,0.06539,0.04344,0.08619,0.11799,0.11799,0.06539,0.03006,0.02886,0.12099
1,0,300000,1,NaN,39840,451,2,18935122,28685,3160,...,-1,0.00115,0.00041,0.00145,0.00555,0.00892,0.00217,0.02738,0.02521,0.01667
2,0,300000,1,NaN,16330,1248,3,18744426,15790,6256,...,11431,0.03182,0.01201,0.04056,0.01963,0.02332,0.03182,0.02127,0.02840,0.02552
3,0,300000,1,NaN,28424,4522,1,15857403,20367,3774,...,-1,0.00001,0.02438,0.00001,0.00001,0.04060,0.00001,0.02951,0.02886,0.03583
4,0,300000,1,NaN,23219,5909,1,2343554,16346,2013,...,0,0.02833,0.00838,0.04460,0.04792,0.04175,0.03407,0.03028,0.03342,0.02857

In [10]:
valid.to_csv('Features/finaldata/valid_raw.csv',index=False)

In [11]:
del data2_valid
del counts_valid
del timediff_valid
del convrate_valid
del valid
del label
gc.collect()

291

In [12]:
data2_test=pd.read_csv('Features/raw/data2_test.csv')
counts_test=pd.read_csv('Features/counts/data2_counts_test.csv')
timediff_test=pd.read_csv('Features/timediff/data2_timediff_test.csv')
convrate_test=pd.read_csv('Features/convrate/data2_convrate_test.csv')

In [13]:
data2_test.drop(['clickTime','conversionTime','label'],axis=1,inplace=True)
test=pd.concat([data2_test,counts_test,timediff_test,convrate_test],axis=1)

In [14]:
test.head()

,connectionType,creativeID,positionID,telecomsOperator,userID,adID,camgaignID,advertiserID,appID,appPlatform,...,uspolast,creativeIDconvrate,positionIDconvrate,camgaignIDconvrate,advertiserIDconvrate,appIDconvrate,adIDconvrate,hometownconvrate,residenceconvrate,appCategoryconvrate
0,1,19553,4522,1,11856541,28121,5921,311,12,2,...,-1,0.01999,0.02438,0.02000,0.02085,0.02105,0.01999,0.02969,0.02456,0.03583
1,1,19744,1456,3,15549046,10410,5342,316,374,1,...,-1,0.00762,0.00056,0.00838,0.02533,0.02604,0.00837,0.02127,0.02597,0.02552
2,1,39700,4292,3,7037,19759,2360,565,375,1,...,0,0.00085,0.00716,0.00001,0.00028,0.00033,0.00065,0.02127,0.01561,0.03583
3,1,45144,3678,3,3383794,12088,6686,649,441,1,...,-1,0.01026,0.00853,0.01060,0.01558,0.02274,0.01059,0.03096,0.01561,0.02857
4,1,34951,4818,2,11006244,5830,1155,215,365,1,...,0,0.06858,0.00083,0.06702,0.05860,0.05940,0.06701,0.03028,0.02618,0.01605

In [15]:
test.to_csv('Features/finaldata/test.csv',index=False)

In [16]:
del data2_test
del counts_test
del timediff_test
del convrate_test
del test
gc.collect()

279

In [2]:
data2_train=pd.read_csv('Features/finaldata/train28drop.csv')
# assemble_train=pd.read_csv('Features/assemble/data2_assemble28_train.csv')
installed_train=pd.read_csv('Features/installedapps/train28_installedapps.csv')
appaction_train=pd.read_csv('Features/appaction/train28_appaction.csv')

In [3]:
data2_train.shape

(15068420, 63)

In [4]:
installed_train.shape,appaction_train.shape

((15068420, 4), (15068420, 4))

In [5]:
data2_train.head()

,label,connectionType,creativeID,positionID,telecomsOperator,userID,adID,camgaignID,advertiserID,appID,...,residenceconvrate,appCategoryconvrate,cocrCounts,coadCounts,coapCounts,sicrCounts,siadCounts,siapCounts,poadCounts,poapCounts
0,0,2,8930,6315,1,18193893,20938,6290,453,382,...,0.03040,0.01667,17750,24824,65161,26311,35231,1779376,34024,577930
1,0,1,43695,4522,1,4128332,16739,6026,445,149,...,0.03047,0.02735,179,179,467,436,436,944,436,944
2,0,0,28424,4522,0,17247261,20367,3774,457,359,...,0.02863,0.03583,933,933,18541,38898,38898,47370,38898,320020
3,0,0,47347,4522,0,14569685,12268,5725,435,368,...,0.02868,0.03583,895,895,4405,37946,37946,147643,37946,179392
4,0,2,16759,7511,1,8351850,15256,6679,316,374,...,0.02729,0.02552,1514,1793,107908,2496,2963,1216663,2963,1167529

In [6]:
installed_train.drop(['clickTime','Unnamed: 0'],axis=1,inplace=True)
appaction_train.drop(['clickTime','Unnamed: 0'],axis=1,inplace=True)

In [7]:
data2_train=pd.concat([data2_train,installed_train,appaction_train],axis=1)

In [8]:
data2_train.head()

,label,connectionType,creativeID,positionID,telecomsOperator,userID,adID,camgaignID,advertiserID,appID,...,coapCounts,sicrCounts,siadCounts,siapCounts,poadCounts,poapCounts,installedusCounts,installedapCounts,appactionCounts,appactionCountsbf
0,0,2,8930,6315,1,18193893,20938,6290,453,382,...,65161,26311,35231,1779376,34024,577930,0,1879372,0,0
1,0,1,43695,4522,1,4128332,16739,6026,445,149,...,467,436,436,944,436,944,0,0,0,0
2,0,0,28424,4522,0,17247261,20367,3774,457,359,...,18541,38898,38898,47370,38898,320020,0,261257,0,0
3,0,0,47347,4522,0,14569685,12268,5725,435,368,...,4405,37946,37946,147643,37946,179392,58,126341,0,0
4,0,2,16759,7511,1,8351850,15256,6679,316,374,...,107908,2496,2963,1216663,2963,1167529,86,409564,0,0

In [9]:
data2_train.to_csv('Features/finaldata/train28drop.csv',index=False)

In [10]:
del data2_train
del installed_train
del appaction_train
gc.collect()

536

In [11]:
data2_valid=pd.read_csv('Features/finaldata/valid28drop.csv')
installed_valid=pd.read_csv('Features/installedapps/valid28_installedapps.csv')
appaction_valid=pd.read_csv('Features/appaction/valid28_appaction.csv')

In [12]:
data2_valid.shape

(2892967, 63)

In [13]:
installed_valid.shape,installed_valid.shape

((2892967, 4), (2892967, 4))

In [14]:
installed_valid.drop(['clickTime','Unnamed: 0'],axis=1,inplace=True)
appaction_valid.drop(['clickTime','Unnamed: 0'],axis=1,inplace=True)

In [15]:
data2_valid=pd.concat([data2_valid,installed_valid,appaction_valid],axis=1)

In [16]:
data2_valid.head()

,label,connectionType,creativeID,positionID,telecomsOperator,userID,adID,camgaignID,advertiserID,appID,...,coapCounts,sicrCounts,siadCounts,siapCounts,poadCounts,poapCounts,installedusCounts,installedapCounts,appactionCounts,appactionCountsbf
0,0,1,36384,4522,1,6251358,13377,3115,5,475,...,26010,6039,6039,15046,6039,34707,74,0,7,7
1,0,1,47867,10410,1,12582593,8770,5980,657,69,...,152552,2228,2228,206610,2228,66221,0,0,0,0
2,0,2,35064,485,2,12385047,13006,5265,561,395,...,385248,146915,146915,1292598,146915,1292601,67,218497,0,0
3,0,0,25499,6796,0,6976033,24642,3642,311,12,...,1372,10850,10850,55048,10850,332706,0,0,0,0
4,0,1,10561,6759,2,228913,17549,6646,554,403,...,195151,1703,2170,197889,2170,21479,35,864130,0,0

In [17]:
data2_valid.to_csv('Features/finaldata/valid28drop.csv',index=False)

In [18]:
del data2_valid
del installed_valid
del appaction_valid
gc.collect()

258

In [25]:
test=pd.read_csv('Features/finaldata/testdrop.csv')
installed_valid=pd.read_csv('Features/installedapps/test28_installedapps.csv')
appaction_valid=pd.read_csv('Features/appaction/test28_appaction.csv')

In [26]:
test.shape

(3321748, 62)

In [27]:
installed_valid.shape,appaction_valid.shape

((3321748, 4), (3321748, 4))

In [28]:
installed_valid.drop(['clickTime','Unnamed: 0'],axis=1,inplace=True)
appaction_valid.drop(['clickTime','Unnamed: 0'],axis=1,inplace=True)

In [29]:
test=pd.concat([test,installed_valid,appaction_valid],axis=1)

In [30]:
test.head()

,connectionType,creativeID,positionID,telecomsOperator,userID,adID,camgaignID,advertiserID,appID,appPlatform,...,coapCounts,sicrCounts,siadCounts,siapCounts,poadCounts,poapCounts,installedusCounts,installedapCounts,appactionCounts,appactionCountsbf
0,1,19553,4522,1,11856541,28121,5921,311,12,2,...,297221,0,0,55048,0,332706,0,0,0,0
1,1,19744,1456,3,15549046,10410,5342,316,374,1,...,1051915,0,0,1216663,0,1167529,42,409564,2,2
2,1,39700,4292,3,7037,19759,2360,565,375,1,...,191444,0,0,278711,0,258271,58,2448377,0,0
3,1,45144,3678,3,3383794,12088,6686,649,441,1,...,633490,227,600,727196,563,627910,0,167530,0,0
4,1,34951,4818,2,11006244,5830,1155,215,365,1,...,0,0,0,0,0,0,0,710805,0,0

In [31]:
test.to_csv('Features/finaldata/testdrop.csv',index=False)