In [1]:
# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd

In [2]:
data=pd.read_csv('Features/raw/allIDdata.csv')

In [3]:
data.head()

,clickTime,creativeID,positionID,userID,adID,camgaignID,advertiserID,appID
0,170000,31746,4522,6762540,11261,2634,635,264
1,170000,48795,4289,532848,18112,4938,605,9
2,170000,6615,3255,19616027,15400,5397,554,403
3,170000,35911,7422,8128760,21961,6208,376,18
4,170000,9187,7219,2748335,31059,5750,554,403

In [4]:
data.columns.values

array(['clickTime', 'creativeID', 'positionID', 'userID', 'adID',
       'camgaignID', 'advertiserID', 'appID'], dtype=object)

In [5]:
# for value in ['creativeID', 'positionID', 'adID',
#        'camgaignID', 'advertiserID', 'appID']:
value='advertiserID'
data['first']=0
data['last']=0

filename='us'+value[0:2]+'v'

data['temp']=data['userID']*100000+data[value]
data.loc[data.duplicated(['temp'],'last'),'first']=1
data.loc[data.duplicated(['temp'],'first'),'last']=1

firsttime=data[(data['first']==1)&(data['last']==0)][['temp','clickTime']]
lasttime=data[(data['first']==0)&(data['last']==1)][['temp','clickTime']]

firsttime.rename(columns={'clickTime':'ftime'},inplace=True)
lasttime.rename(columns={'clickTime':'ltime'},inplace=True)

data=pd.merge(data,firsttime,how='left')
data=pd.merge(data,lasttime,how='left')

data['ftime'].fillna(0,inplace=True)
data['ftime']=data['ftime'].astype(int)

data['ltime'].fillna(0,inplace=True)
data['ltime']=data['ltime'].astype(int)

data['us'+value[0:2]+'vfirst']=data['clickTime']-data['ftime']
data['us'+value[0:2]+'vlast']=data['ltime']-data['clickTime']

data.loc[(data['first']==0)&(data['last']==0),'us'+value[0:2]+'vfirst']=-1
data.loc[(data['first']==0)&(data['last']==0),'us'+value[0:2]+'vlast']=-1

In [6]:
# data.drop(['first','last','temp','ftime','ltime'],axis=1,inplace=True)

In [7]:
data.head()

,clickTime,creativeID,positionID,userID,adID,camgaignID,advertiserID,appID,first,last,temp,ftime,ltime,usadvfirst,usadvlast
0,170000,31746,4522,6762540,11261,2634,635,264,0,0,676254000635,0,0,-1,-1
1,170000,48795,4289,532848,18112,4938,605,9,1,0,53284800605,170000,170015,0,15
2,170000,6615,3255,19616027,15400,5397,554,403,1,0,1961602700554,170000,281408,0,111408
3,170000,35911,7422,8128760,21961,6208,376,18,0,0,812876000376,0,0,-1,-1
4,170000,9187,7219,2748335,31059,5750,554,403,1,0,274833500554,170000,312105,0,142105

In [8]:
data['temp'].value_counts()

188467100080     112
86536900080       99
217741000080      97
250763700402      86
67404700080       83
29085300402       83
245386200080      78
27365400330       72
265562800080      70
142959000080      69
116888900080      68
225505900330      68
192787400003      66
9026300330        65
100289300080      65
268734400330      63
89286500100       62
214266600588      62
29029900080       62
142959000348      60
143307600010      59
110748600093      59
119222500080      58
89286500080       58
23292000080       57
1004140400494     57
195708300003      56
691563300494      56
217098300080      56
177487200080      55
                ...
635739400448       1
1194501000552      1
1056247800161      1
1229203800477      1
1823088600381      1
1090695600494      1
550666600605       1
523542100194       1
514910300376       1
1383328600135      1
1843435200561      1
1459102900289      1
928267200640       1
1563901800539      1
1951761500172      1
155655500003       1
1837332400516      1
947723400175       1
19508400383        1
170289400044       1
1299173200279      1
600597700286       1
1071357000383      1
1081560500135      1
759920300383       1
99082400003        1
495293100339       1
145328800029       1
1645660400048      1
1517761100286      1
Name: temp, Length: 33381007, dtype: int64

In [9]:
data[data['temp']==177487200080]

,clickTime,creativeID,positionID,userID,adID,camgaignID,advertiserID,appID,first,last,temp,ftime,ltime,usadvfirst,usadvlast
239412,170616,4444,7563,1774872,1899,322,80,14,1,0,177487200080,170616,301556,0,130940
512326,170913,5186,7563,1774872,2657,279,80,14,1,1,177487200080,170616,301556,297,130643
652024,171029,5949,7563,1774872,3084,566,80,14,1,1,177487200080,170616,301556,413,130527
768481,171133,5949,7563,1774872,3084,566,80,14,1,1,177487200080,170616,301556,517,130423
844411,171211,4169,7563,1774872,2298,147,80,14,1,1,177487200080,170616,301556,595,130345
970452,171307,3745,7563,1774872,1166,430,80,14,1,1,177487200080,170616,301556,691,130249
1066613,171355,3745,7563,1774872,1166,430,80,14,1,1,177487200080,170616,301556,739,130201
1153629,171445,4444,7563,1774872,1899,322,80,14,1,1,177487200080,170616,301556,829,130111
1185033,171502,3307,7563,1774872,17,216,80,14,1,1,177487200080,170616,301556,886,130054
2478866,180000,784,7563,1774872,3242,375,80,14,1,1,177487200080,170616,301556,9384,121556
2817141,180738,784,7563,1774872,3242,375,80,14,1,1,177487200080,170616,301556,10122,120818
2896824,180828,3307,7563,1774872,17,216,80,14,1,1,177487200080,170616,301556,10212,120728
3092893,181026,3307,7563,1774872,17,216,80,14,1,1,177487200080,170616,301556,10410,120530
3297937,181221,5949,7563,1774872,3084,566,80,14,1,1,177487200080,170616,301556,10605,120335
3493752,181359,2736,7563,1774872,256,325,80,14,1,1,177487200080,170616,301556,10743,120197
3755479,181634,5949,7563,1774872,3084,566,80,14,1,1,177487200080,170616,301556,11018,119922
3924632,181756,3307,7563,1774872,17,216,80,14,1,1,177487200080,170616,301556,11140,119800
4881528,190059,784,7563,1774872,3242,375,80,14,1,1,177487200080,170616,301556,19443,111497
4881694,190100,3531,7563,1774872,2581,300,80,14,1,1,177487200080,170616,301556,19484,111456
4910892,190131,4444,7563,1774872,1899,322,80,14,1,1,177487200080,170616,301556,19515,111425
5343449,190918,3745,7563,1774872,1166,430,80,14,1,1,177487200080,170616,301556,20302,110638
5432273,190956,4444,7563,1774872,1899,322,80,14,1,1,177487200080,170616,301556,20340,110600
5449085,191004,3745,7563,1774872,1166,430,80,14,1,1,177487200080,170616,301556,20388,110552
5678480,191152,5186,7563,1774872,2657,279,80,14,1,1,177487200080,170616,301556,20536,110404
5734757,191217,4793,7563,1774872,1225,484,80,14,1,1,177487200080,170616,301556,20601,110339
6099686,191458,4793,7563,1774872,1225,484,80,14,1,1,177487200080,170616,301556,20842,110098
6447165,191736,4793,7563,1774872,1225,484,80,14,1,1,177487200080,170616,301556,21120,109820
7463582,200032,5186,7563,1774872,2657,279,80,14,1,1,177487200080,170616,301556,29416,101524
7934928,200913,784,7563,1774872,3242,375,80,14,1,1,177487200080,170616,301556,30297,100643
7980539,200932,784,7563,1774872,3242,375,80,14,1,1,177487200080,170616,301556,30316,100624
8294422,201146,3745,7563,1774872,1166,430,80,14,1,1,177487200080,170616,301556,30530,100410
8785804,201515,784,7563,1774872,3242,375,80,14,1,1,177487200080,170616,301556,30899,100041
9121557,201732,4131,7563,1774872,950,376,80,14,1,1,177487200080,170616,301556,31116,99824
11129465,211358,3745,7563,1774872,1166,430,80,14,1,1,177487200080,170616,301556,40742,90198
11503001,211729,5186,7563,1774872,2657,279,80,14,1,1,177487200080,170616,301556,41113,89827
11504137,211730,784,7563,1774872,3242,375,80,14,1,1,177487200080,170616,301556,41114,89826
12779720,220721,5186,7563,1774872,2657,279,80,14,1,1,177487200080,170616,301556,50105,80835
12901335,220842,4444,7563,1774872,1899,322,80,14,1,1,177487200080,170616,301556,50226,80714
12946995,220911,4444,7563,1774872,1899,322,80,14,1,1,177487200080,170616,301556,50295,80645
16147786,231602,5949,7563,1774872,3084,566,80,14,1,1,177487200080,170616,301556,60986,69954
17603684,240644,5186,7563,1774872,2657,279,80,14,1,1,177487200080,170616,301556,70028,60912
17773320,240834,1259,7563,1774872,1535,685,80,14,1,1,177487200080,170616,301556,70218,60722
17986363,241023,3307,7563,1774872,17,216,80,14,1,1,177487200080,170616,301556,70407,60533
18199792,241205,3293,7563,1774872,2891,685,80,14,1,1,177487200080,170616,301556,70589,60351
18310449,241254,4444,7563,1774872,1899,322,80,14,1,1,177487200080,170616,301556,70638,60302
18518223,241431,3745,7563,1774872,1166,430,80,14,1,1,177487200080,170616,301556,70815,60125
18613689,241519,2386,7563,1774872,1090,666,80,14,1,1,177487200080,170616,301556,70903,60037
19965856,250011,784,7563,1774872,3242,375,80,14,1,1,177487200080,170616,301556,79395,51545
20018214,250051,784,7563,1774872,3242,375,80,14,1,1,177487200080,170616,301556,79435,51505
20710716,251120,32,7563,1774872,34,85,80,14,1,1,177487200080,170616,301556,80504,50436
21350786,251610,4444,7563,1774872,1899,322,80,14,1,1,177487200080,170616,301556,80994,49946
23148555,260907,4444,7563,1774872,1899,322,80,14,1,1,177487200080,170616,301556,90291,40649
23581624,261217,2989,7563,1774872,3513,477,80,14,1,1,177487200080,170616,301556,90601,40339
32544285,291313,5949,7563,1774872,3084,566,80,14,1,1,177487200080,170616,301556,120697,10243
36246825,301556,6490,7563,1774872,1469,535,80,14,0,1,177487200080,170616,301556,130940,0

In [10]:
data[[filename+'first',filename+'last']].to_csv('Features/timediff/'+filename+'.csv',index=False)

In [2]:
usad=pd.read_csv('Features/timediff/usad.csv')
usadv=pd.read_csv('Features/timediff/usadv.csv')
usap=pd.read_csv('Features/timediff/usap.csv')
usca=pd.read_csv('Features/timediff/usca.csv')
uscr=pd.read_csv('Features/timediff/uscr.csv')
uspo=pd.read_csv('Features/timediff/uspo.csv')

In [8]:
uspo.head()

   uspofirst  uspolast
0         -1        -1
1          0     11841
2          0    111408
3         -1        -1
4          0    142105

In [10]:
data2=pd.concat([usad,usadv,usap,usca,uscr,uspo],axis=1)

In [13]:
data2.head()

,usadfirst,usadlast,usadvfirst,usadvlast,usapfirst,usaplast,uscafirst,uscalast,uscrfirst,uscrlast,uspofirst,uspolast
0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,-1,-1,0,15,0,101358,-1,-1,-1,-1,0,11841
2,-1,-1,0,111408,0,111408,-1,-1,-1,-1,0,111408
3,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,-1,-1,0,142105,0,142105,-1,-1,-1,-1,0,142105

In [14]:
data2.shape

(41234657, 12)

In [15]:
data1=data2.head(41234657-21283135)

In [16]:
data2=data2.tail(21283135)

In [17]:
data1.shape

(19951522, 12)

In [18]:
data2.shape

(21283135, 12)

In [19]:
data1.head()

,usadfirst,usadlast,usadvfirst,usadvlast,usapfirst,usaplast,uscafirst,uscalast,uscrfirst,uscrlast,uspofirst,uspolast
0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,-1,-1,0,15,0,101358,-1,-1,-1,-1,0,11841
2,-1,-1,0,111408,0,111408,-1,-1,-1,-1,0,111408
3,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,-1,-1,0,142105,0,142105,-1,-1,-1,-1,0,142105

In [20]:
data2.head()

,usadfirst,usadlast,usadvfirst,usadvlast,usapfirst,usaplast,uscafirst,uscalast,uscrfirst,uscrlast,uspofirst,uspolast
19951522,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,32052
19951523,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
19951524,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
19951525,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
19951526,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [21]:
data1.to_csv('Features/timediff/data1_timediff.csv',index=False)
data2.to_csv('Features/timediff/data2_timediff.csv',index=False)